<div class="add-product-container">
  <form [formGroup]="productForm"
        (ngSubmit)="onSave()">
    <h3>Add Product</h3>
    <ec-input [label]="'Name'"
              [formControlKey]="'name'"></ec-input>
    <br>
    <ec-input [label]="'Price'"
              [type]="'number'"
              [formControlKey]="'price'"></ec-input>
    <br>
    <ec-select [label]="'Category'"
               [options]="(categoriesOptions$ | async) || []"
               formControlName="category"></ec-select>
    <br>
    <ec-textarea [label]="'Description'"
                 formControlName="description"></ec-textarea>
    <br>
    <ec-button [text]="'Save'"></ec-button>
  </form>
</div>

