<div class="add-product-container">
  <form [formGroup]="productForm"
        (ngSubmit)="onSave()">
    <h3>Add Product</h3>
    <ec-input [label]="'Name'"
              [formControlKey]="'name'"></ec-input>
    <br>
    <ec-input [label]="'Price'"
              [type]="'number'"
              [formControlKey]="'price'"></ec-input>
    <br>
    <ec-input [label]="'Category'"
              [formControlKey]="'category'"></ec-input>
    <br>
    <ec-input [label]="'Description'"
              [formControlKey]="'description'"></ec-input>
    <br>
    <ec-button [text]="'Save'"></ec-button>
  </form>
</div>

